---
title: "Craigie Dev"
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: 
  # cta_label: "Download"
  # cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  # caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Welcome to my video games development website."
intro: 
  - excerpt: ''
feature_row3:
  - image_path: /assets/MeSkipping.jpg
    alt: "placeholder image 1"
    title: "About Me"
    excerpt: "General Information about me, **Mark Craigie**."
    url: "/aboutme/"
    btn_label: "About"
    btn_class: "btn--primary"

feature_row2:
  - image_path: /assets/IndianaJones/indiana-jones-and-the-great-circle.jpg
    alt: "placeholder image 2"
    title: "Portfolio"
    excerpt: "Industry and personal pieces that are either finished, or I am currently working on"
    url: "/portfolio/"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row4:
  - image_path: /assets/stockKeyboard.jpg
    title: "Posts and blogs"
    excerpt: "Some general blogs or posts that I have made"
    url: "/posts/"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row5:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row6:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row7:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}
